.sidebar{
    background-color: #DCDCDF;
    width: 20%;
    height: 90vh;
}

.content{
    padding: 20px;
}

.item {
    display: block;
    color: black;
    font-size: 20px;
    margin-top: 10px;
}

.active{
    font-weight: 700;
    display: block;
    color: black;
    font-size: 20px;
    margin-top: 10px;
}


