.title {
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
}

.wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}

.userWrapper{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 20px;
}

.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-right: 15px; */
}

.avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: yellow;
    margin-bottom: 10px;
}

.follow {
    border: 1px solid black;
    background-color: #fff;
    font-size: 15px;
    padding: 5px;
    max-width: 100px;
    border-radius: 3px;
    cursor: pointer;
}

.userInfo{
    padding: 16px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.mainInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name{
    font-size: 20px;
    margin-bottom: 15px;
}

.status{
    font-size: 15px;
}

.status span{
    font-weight: 600;
}

.location{
    font-size: 18px;
    text-align: right;
}

.pages{
    margin: 20px 0;
    overflow-x: hidden
}

.page{
    font-size: 17px;
    margin-right: 10px;
    cursor: pointer;
}

.selectedPage{
    font-size: 18px;
    font-weight: 600;
}