.dialogs{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.dialogs_items{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 30px;
    width: 50%;
}

.dialog{
    margin-bottom: 10px;
    font-size: 20px;
    color: black
}

.messages{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 50%;
}

