.post{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post_content {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.avatar {
    width: 30px;
    height: 30px;
    background-color: yellow;
    margin-right: 20px;
    border-radius: 50%;
}

.text {
    font-size: 17px;
    color: black;
    font-weight: 500;
}

.likesCount{
    display: inline-flex;
    width: 30px;
    height: 30px;
    background-color: red;
    margin-left: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.likesCount span{
    color: white;
    margin: auto auto;
    font-weight: 600;
}

.delete{
    width: 20px;
    height: 20px;
    background-color: grey;
    cursor: pointer;
}