.header{
    background-color: #DCDCDF;
}
.content{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 30px;
    height: 30px;
    background-color: yellow;
    border-radius: 50%;
}

.signIn{
    background-color: transparent;
    font-size: 17px;
    border: 1px solid rgb(167, 158, 158);
    border-radius: 3px;
    color: black;
    cursor: pointer;
    text-align: center;
    padding: 5px;
}

.signIn:hover{
    transition: all 0.5s;
    color: rgb(70, 69, 69);
    border: 1px solid rgb(0, 0, 0);
}

.login{
    padding: 6px;
    color: black;
}